* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

.container {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

@font-face {
  font-family: HelveticaNeue;
  src:url(../fonts/HelveticaNeueLight.ttf);
}

body {
  font-family: HelveticaNeue, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  height: 42px;
  width: 100%;
  background: #f0f2f4;
  border-bottom: 1px solid #e2e2e2;
}

.info {
  margin-left: auto;
  display: flex;
  height: 42px;

  span {
    font-size: 15px;
    font-weight: 400;
    color: #424242;
  }
}

.phone {
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    margin-right: 20px;
  }
}

.mail {
  width: 207px;
  height: inherit;
  border-left: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    margin-left: 20px;
    margin-right: 8px;
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}

.business {
  display: flex;
  align-items: center;
  height: 130px;
  width: inherit;
}

.logo {
  height: inherit;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-1 {
  margin-left: 10px;
  color: #424242;
  display: flex;
  flex-direction: column;


  h1 {
    font-size: 37px;
    font-weight: 700;
    margin: 0;
  }

  span {
    font-size: 15px;
    font-weight: 400;
    transform: translateY(-3px);
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
    width: 380px;

    li {
      a{
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        color: #424242;
      }
    }

    li:first-child {
      list-style: none;
    }
  }

  .button {
    width: 170px;
    height: 36px;
    border-radius: 5px;
    background: #de2b24;
    margin-left: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }
}

#baner {
  background: url(../img/baner-1.jpg) no-repeat center / cover;
  height: 590px;
  width: 100%;
}

.providing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 590px;
  width: inherit;

  .we-providing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 510px;

    h1 {
      font-size: 48px;
      font-weight: 700;
      margin: 0;
    }

    h3 {
      font-size: 30px;
      font-weight: 300;
      margin: 0;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;
      width: 330px;
      height: 69px;
      background: #f8cd53;
      border-radius: 7px;
      color: #fff;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

@font-face {
  font-family: Open Sans;
  src:url(../fonts/OpenSans-Regular.ttf);
}

.about-us {
  height: 542px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .columns {
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin-top: 45px;

    .column {
      width: 240px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 22px;
        font-weight: 700;
        color: #424242;
        margin: 20px 0;
      }

      span {
        font-family: Open Sans;
        font-size: 13.5px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 110px;
  color: #424242;

  h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
  }

  span {
    font-size: 20px;
    font-weight: 300;
  }

  hr {
    width: 47px;
    height: 5px;
    background: #424242;
    margin-top: 15px;
  }
}

#our-approch {
  height: content;
  width: 100%;
  background: #f3f3f3;
}

.approch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1024px;
  margin-top: 90px;
  margin-bottom: 93px;
}

@font-face {
  font-family: Georgia;
  src:url(../fonts/georgia.ttf);
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  .step {
    height: 236px;
    width: 1024px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom: 40px;
  }

  .left {
    display: flex;
    width: inherit;

    div {
      margin-left: 33px;
      width: calc(100% - 340px);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      text-align: left;
      width: 510px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      h1 {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        color: #424242;
      }

      p {
        font-size: 13.5px;
        font-weight: 400;
        color: #5c5c5c;
      }
    }
    .step-number{
      position: relative;
      margin: 0;
      width: 340px;
      height: 234px;

      img {
        width: 340px;
        height: 234px;
        margin-right: auto;
        border-radius: 5px 0 0 5px;
      }

      .number {
        position: absolute;
        right: -15%;
        height: 105px;
        width: 105px;
        background: #de2b24;
        border: 2px solid #fff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
          padding: 0;
          font-family: Georgia;
          font-size: 60px;
          color: #fff;
          font-weight: 700;
          margin: 0;
          transform: translateY(-8px);
        }

        span {
          font-size: 20px;
          font-weight: 400;
          color: #fff;
          transform: translateY(-8px);
        }

      }
    }
  }

  .right {
    display: flex;
    flex-direction: row-reverse;
    width: inherit;

    div {
      margin-right: 33px;
      width: calc(100% - 340px);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      text-align: right;
      width: 510px;
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      h1 {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        color: #424242;
      }

      p {
        font-size: 13.5px;
        font-weight: 400;
        color: #5c5c5c;
      }
    }

    .step-number{
      position: relative;
      margin: 0;
      width: 340px;
      height: 234px;

    img {
      width: 340px;
      height: 234px;
      margin-left: auto;
      border-radius: 0 5px 5px 0;
    }
    .number {
      position: absolute;
      left: -15%;
      height: 105px;
      width: 105px;
      background: #de2b24;
      border: 2px solid #fff;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        padding: 0;
        font-family: Georgia;
        font-size: 60px;
        color: #fff;
        font-weight: 700;
        margin: 0;
        transform: translateY(-8px);
      }

      span {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        transform: translateY(-8px);
      }

    }
    }
  }
}

#red {
  height: 867px;
  width: 100%;
  background: #de2b24;
}

.our-work {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;

  .white {
    color: #fff;
  }

  .title {
    hr {
      background: #fff;
    }
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  margin-top: 45px;

  .photo {
    width: 255px;
    height: 255px;
  }

  .project-name {
    width: 255px;
    height: 255px;
    background: #f35e59;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 26px;
      font-weight: 700;
      color: #fff;
      margin: 0;
      margin-top: 20px;
    }

    h3 {
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      margin: 0;
    }
  }
}

#blue {
  height: 850px;
  width: 100%;
  background: #1287bf;
}

.contact {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 15px;

    h1 {
      margin: 0;
      font-size: 36px;
      font-weight: 700;
      color: #fff;
    }

    span {
      font-size: 20px;
      font-weight: 300;
      color: #fff;
    }
  }
}

.input-fild {
  height: 450px;
  width: 685px;
  border-radius: 5px;
  background: #fff;
  position: relative;
  transform: translateY(-45px);
  display: flex;

  .tangle {
    position: absolute;
    top: 0;
    transform: translateY(-33px);
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(18px, -18px);
  }

  div {
    width: 558px;
    margin-bottom: 40px;
    margin-top: 24px;

    span {
      text-align: center;
      font-size: 15px;
      font-weight: 400;
      color: #828282;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type="text"] {
      height: 50px;
      width: 444px;
      border: 1px solid #d8d8d8;
      border-radius: 3px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
      color: #b0b0b0;
      padding-left: 20px;
    }

    input::placeholder {
      font-size: 14px;
      font-weight: 400;
      color: #b0b0b0;
    }

    input[type="submit"] {
      margin-top: 26px;
      margin-bottom: 58px;
      height: 46px;
      width: 161px;
      background: #de2b24;
      border: 1px solid #de2b24;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
      color: #fff;
    }
  }
}

#get {
  width: 100%;
  height: 490px;
  background: #2a2a2a;
}

.get_in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 490px;

  h1 {
    font-size: 29px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    margin-bottom: 30px;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    width: 256px;

    .icon {
      height: 46px;
      width: 46px;
      background: #2a2a2a;
      border: 2px solid #515151;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .icon:hover {
      border-color: #de2b24;
    }
  }

  span {
    font-size: 14px;
    font-weight: 400;
    color: #cecece;
    margin-top: 37px;
  }

  .try {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 33px;

    input[type="text"] {
      width: 680px;
      height: 54px;
      background: #515151;
      border: 1px solid #515151;
      border-radius: 1px;
      margin-bottom: 27px;
      font-size: 14px;
      font-weight: 400;
      color: #cecece;
      padding-left: 20px;
    }

    /*input::placeholder {
      font-size: 14px;
      font-weight: 400;
      color: #cecece;
    }*/

    input[type="submit"] {
      width: 150px;
      height: 50px;
      background: #2a2a2a;
      border: 2px solid #515151;
      border-radius: 2px;
      font-size: 17px;
      font-weight: 700;
      color: #fff;
    }
  }
}
